button{
    width: 100%;
    padding: var(--default-small-zone) var(--default-medium-zone);
    border-radius: var(--default-small-zone);
    color: var(--color-text);
    background-color: var(--white);
    font-size: var(--default-small-font-size);
}
button:hover{
    background-color: var(--color-light-text);
}

.primary{
    color: var(--white);
    background-color: var(--color-primary);
}
.primary:hover{
    background-color: var(--color-primary-hover);
}

.outline{
    color: var(--color-primary);
    background-color: var(--white);
    border: 1.5px solid var(--color-primary);
}
.outline:hover{
    color: var(--white);
    background-color: var(--color-primary);
}

.disabled{
    background-color: var(--color-disable);
    color: var(--white);
}
.disabled:hover{
    background-color: var(--color-disable);
    cursor: default;
}

.small {
    padding: var(--default-small-zone) var(--default-small-zone);
    font-size: var(--default-mini-font-size);
    font-weight: var(--default-small-font-weight);
}

.large {
    padding: var(--default-large-zone) var(--default-xlarge-zone);
    font-size: var(--default-large-font-size);
    font-weight: var(--default-large-font-weight);
}