.wrapper{
    display: inline-block;
    min-width: 40px;
    text-align: center;
    margin-top: var(--default-tiny-zone);
    margin-right: var(--default-mini-zone);
    background-color: var(--white);
    color: var(--black);
    padding: var(--default-tiny-zone) var(--default-mini-zone);
    border-radius: var(--default-medium-zone);
    font-size: var(--default-tiny-font-size);
    font-weight: var(--default-medium-font-weight);
}

.red {
    background-color: rgb(254 202 202);
    color: var(--black);
}

.gray {
    background-color: rgb(229 231 235);
    color: var(--black);
}
