<header class="wrapper">
    <div class="container">
        <div class="logo__wrapper">
            <a href="/">
                <img src="./assets/images/logo.png" />TipRecipePhp</a>
        </div>
        <nav class="action__wrapper">
            <ul>
                <li><a href="admin">Admin</a></li>
                <li><a href="profile">Profile</a></li>
                <li><a href="logout">Logout</a></li>
                <li><a href="register">Register</a></li>
                <li><a href="login">Login</a></li>
                </ul>
        </nav>
    </div>
</header>

