.wrapper {
    background-color: var(--color-dark);
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--default-small-zone);
}

.logo__wrapper{
    a {
        display: flex;
        align-items: center;
        color: var(--white);
        font-weight: var(--default-large-font-weight);
        font-size: var(--default-mini-font-size);
        img{
            height: var(--default-mini-icon-size);
            margin-right: var(--default-small-zone);
        }
    }
}

.action__wrapper{
    ul{
        display: flex;
        list-style: none;
        a{
            color: var(--white);
        }
        a:hover{
            color: var(--color-light-text);
        }
        li + li{
            margin-left: var(--default-medium-zone);
        }
    }
}

.loading-indicator {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.8);
    z-index: 1000;
    font-size: 1.5rem;
    color: var(--color-text);
  }