<header class="wrapper">
    <div class="container">
        <div class="logo__wrapper">
            <a href="/">
                <img src="./assets/images/logo.png" />TipRecipePhp</a>
        </div>
        <nav class="action__wrapper">
            <ul>
                <!-- <li><a routerLink="admin">Admin</a></li> -->
                <li><a routerLink="profile">Profile</a></li>
                <!-- <li><a routerLink="logout">Logout</a></li> -->
                <li><a routerLink="register">Register</a></li>
                <li><a routerLink="login">Login</a></li>
            </ul>
        </nav>
    </div>
</header>

