<div class="wrapper">
    <div class="container">
        <div class="header">
            <div class="title__dish">
                {{dish.getName()}}
            </div>
            <div class="rating__dish">
                Your rating: {{dish.getRating()}}/10
            </div>
        </div>
        <div class="body__properties">
            <div class="image__dish">
                <img src="{{dish.getUrl()}}" alt="{{dish.getName()}}">
            </div>
            <div class="detail__dish">
                <div class="description__dish">
                    Desciption: {{dish.getSummary()}}
                </div>
                <div class="ingredients__dish">
                    Ingredients: 
                    <ul >
                        <li *ngFor="let ingredient of dish.getIngredients()">{{ingredient.getName()}} : {{ingredient.getQuantity()}} {{ingredient.getUnit()}}</li>
                    </ul>
                </div>
                <div class="types__dish">
                    Types: 
                    <shared-tag-item *ngFor="let type of dish.getTypes()" [tag]="type.getName()" [color]="'red'"></shared-tag-item>
                </div>
            </div>
        </div>
    </div>
</div>