.wrapper {
    padding: 0 var(--default-small-zone);
    padding-bottom: var(--default-medium-zone);
    font-size: var(--default-small-font-size);
    font-style: var(--default-small-font-weight);
    ul{
        margin-left: var(--default-medium-zone);
        li{
            list-style: outside;
        }
    }
}

.container {
    .header {
        margin-bottom: var(--default-small-zone);
        .title__dish{
            font-weight: var(--default-large-font-weight);
        }
    }
    .body__properties{
        margin-bottom: var(--default-small-zone);
        font-size: var(--default-mini-font-size);
        .image__dish{
            align-self: center;
            img{
                width: 100%;
                height: auto;
                border-radius: var(--default-medium-zone);
            }
        }
        .detail__dish{
            font-size: var(--default-tiny-font-size);
            .ingredients__dish{
                font-size: var(--default-mini-font-size);
            
            }
        }
    }
    .footer{
        margin-bottom: var(--default-small-zone);
        font-size: var(--default-mini-font-size);
        .description__dish{
            font-weight: var(--default-mini-font-weight);
        }
    }
}