.wrapper {
    padding: 0 var(--default-small-zone);
    margin-bottom: var(--default-medium-zone);
    font-size: var(--default-small-font-size);
    font-style: var(--default-small-font-weight);
    ul{
        margin-left: var(--default-medium-zone);
        li{
            list-style: outside;
        }
    }
}

.container {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: var(--default-small-zone);
        .title__dish{
            flex: 8;
            font-weight: var(--default-large-font-weight);
        }
        .rating__dish{
            flex: 3;
            margin-left: var(--default-small-zone);
            color: var(--red);
            font-size: var(--default-mini-font-size);
        }
    }

    .body__properties{
        display: flex;
        // align-items: center;
        font-size: var(--default-mini-font-size);
        .image__dish{
            flex:2;
            align-self: center;
            img{
                width: 100%;
                height: auto;
                border-radius: var(--default-medium-zone);
            }
        }
        .detail__dish{
            font-size: var(--default-tiny-font-size);
            flex:5;
            margin-left: var(--default-small-zone);
            .description__dish{
                font-weight: var(--default-mini-font-weight);
            }
        }
    }
    .footer{
        font-size: var(--default-mini-font-size);
        margin-bottom: var(--default-small-zone);
    }
}