.wrapper {

}

.container {
    
    .notification__noRecipe{
        margin-top: var(--default-large-zone);
        text-align: center;
        color: var(--black);
        font-size: var(--default-medium-font-size);
    }
}