.wrapper{
    background-color: var(--white);
    display: flex;
    height: 100vh;
    .side__bar{
        flex: 1;
    }
    .container{
        flex: 4;
    }
}

@media (max-width: 612px) {
    .side__bar {
      display: none;
    }
  }
