.wrapper {
    padding: 0 var(--default-small-zone);
    margin-bottom: var(--default-medium-zone);
    font-size: var(--default-small-font-size);
    font-style: var(--default-small-font-weight);
}

.container {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: var(--default-small-zone);
        .title__dish{
            flex: 2;
            font-weight: var(--default-large-font-weight);
        }
        .rating__dish{
            flex: 1;
            margin-left: var(--default-small-zone);
            color: var(--red);
            font-size: var(--default-mini-font-size);
        }
    }

    .body__properties{
        display: flex;
        // align-items: center;
        font-size: var(--default-mini-font-size);
        .image__dish{
            flex:2;
            img{
                width: 100%;
                height: auto;
                border-radius: var(--default-medium-zone);
            }
        }
        .detail__dish{
            flex:5;
            margin-left: var(--default-small-zone);
            .description__dish{
                font-weight: var(--default-mini-font-weight);
            }
            .action__dish{
                a{
                    font-size: var(--default-tiny-font-size);
                    color: var(--primary);
                    font-weight: var(--default-medium-font-weight);
                }
                a:hover{
                    color: var(--primary-hover);
                    text-decoration: underline;
                }
            }
        }
    }
}