<div class="wrapper">
    <div *ngIf="dish" class="container">
        <div class="header"
            fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="space-between center"
            fxLayout.lt-md="column"
            fxLayoutAlign.lt-md="center center"
        >
            <div class="title__dish">
                {{dish.getName()}}
            </div>
            <div class="rating__dish">
                <div *ngIf="dish.getIsRated() else elseRating">
                    Rating: {{dish.getRating()}}/10
                </div>
                <ng-template #elseRating>
                    <div>
                        {{dish.getRating()>7 ? 'Will like it' : ''}}
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="body__properties"
            fxLayout.gt-md="row"
            fxLayoutAlign.gt-md="space-between start"
            fxLayout.lt-lg="column"
            fxLayoutAlign.lt-lg="center center"
        >
            <div class="image__dish" routerLink="/detail/{{dish.getID()}}"
                fxFlex.gt-md="35"
            >
                <img src="{{dish.getUrl()}}" alt="{{dish.getName()}}">
            </div>
            <div class="detail__dish"
                fxFlex.gt-md="60"
            >
                <div class="description__dish">
                    Desciption: {{dish.getSummary()}}
                </div>
                <div class="ingredients__dish">
                    Ingredients: 
                    <shared-tag-item *ngFor="let ingredient of dish.getIngredients()" [tag]="ingredient.getName()" [color]="'gray'"></shared-tag-item>
                </div>
                <div class="types__dish">
                    Types: 
                    <shared-tag-item *ngFor="let type of dish.getTypes()" [tag]="type.getName()" [color]="'red'"></shared-tag-item>
                </div>
                <div class="action__dish">
                    <div>
                        <a (click)="onClickQuickView()">quick view</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>