<div class="wrapper">
    <div class="container">
        <div class="header__title">Login</div>
        <div class="error__message">{{ errorMessage }}</div>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form__fill">
                <label for="email">Email</label>
                <input
                    type="email"
                    placeholder="email"
                    id="email"
                    class="medium"
                    formControlName="email"
                />
                <span class="help-block">{{
                    checkChain(loginForm.get('email'))
                }}</span>
            </div>
            <div class="form__fill">
                <label for="password">Password</label>
                <input
                    type="password"
                    placeholder="password"
                    id="password"
                    class="medium"
                    formControlName="password"
                />
                <span class="help-block">{{
                    checkChain(loginForm.get('password'))
                }}</span>
            </div>
            <div class="active__wrapper">
                <shared-button
                    [type]="'primary'"
                    [size]="'medium'"
                    [disabled]="loginForm.invalid"
                    >Sign in</shared-button
                >
                <a routerLink="/register">Sign up?</a>
            </div>
        </form>
    </div>
</div>
