<div class="wrapper">
    <div class="container">
        <div class="header__title">Login</div>
        <div class="error__message">error</div>
        <form action="" method="POST">
            <div class="form__fill">
                <label for="email">Email</label>
                <shared-text-box [type]="'email'" [size]="'medium'" [(valueModel)]="email"></shared-text-box>
            </div>
            <div class="form__fill">
                <label for="password">Password</label>
                <shared-text-box [type]="'password'" [size]="'medium'" [(valueModel)]="password"></shared-text-box>
            </div>
            <div class="form__catcha">
                <div class="captcha">
                    <img src="captcha.php" alt="Captcha" onclick="this.src='captcha.php?refresh=1'">
                </div>
                <shared-text-box [type]="'text'" [size]="'small'" [(valueModel)]="captcha"></shared-text-box>
            </div>
            <div class="active__wrapper">
                <shared-button [type]="'primary'" [size]="'medium'">Sign in</shared-button>
                <a href="register">Sign up?</a>
            </div>
        </form>
    </div>
</div>
