.wrapper{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.container{
    width: 50%;
    padding: var(--default-xlarge-zone);
    background-color: var(--white);
    border: solid 1px #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    .header__title{
        font-size: var(--default-medium-font-size);
        font-weight: var(--default-medium-font-weight);
        margin: var(--default-medium-zone) 0;
    }
    .error__message{
        margin: 8px 0px;
        color: red;
    }
}

.form__fill {
    label {
        display: block;
        font-size: var(--default-mini-font-size);
        font-weight: var(--default-large-font-weight);
        margin-bottom: var(--default-small-zone);
    }
}

.form__fill + .form__fill {
    margin-top: var(--default-medium-zone);
}

.form__catcha{
    margin-top: var(--default-medium-zone);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .captcha{
        
    }
}

.active__wrapper{
    margin-top: var(--default-medium-zone);
    display: flex;
    align-items: center;
    justify-content: space-between;
    a{
        color: var(--primary);
        font-size: var(--default-small-font-size);
    }
    a:hover{
        color: var(--primary-hover);
    }
}