<div class="wrapper">
    <div class="container">
        <div class="header__title">Register</div>
        <div class="error__message">{{errorMessage}}</div>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form__fill">
                <label for="email">Email</label>
                <input type="email" placeholder="email" id="email" class="medium" formControlName="email">
                <span class="help-block">{{checkChain(registerForm.get('email'))}}</span>
            </div>
            <div class="form__fill">
                <label for="username">Username (display name)</label>
                <input type="text" placeholder="username" id="username" class="medium" formControlName="username">
                <span class="help-block">{{checkChain(registerForm.get('username'))}}</span>
            </div>
            <div class="form__fill">
                <label for="password">Password</label>
                <input type="password" placeholder="password" id="password" class="medium" formControlName="password">
                <span class="help-block">{{checkChain(registerForm.get('password'))}}</span>
            </div>
            <div class="form__fill">
                <label for="confrimPassword">Confirm Password</label>
                <input type="password" placeholder="confirm password" id="confirmPassword" class="medium" formControlName="confirmPassword">
                <span class="help-block">{{checkChain(registerForm.get('confirmPassword'))}}</span>
            </div>
            <div class="active__wrapper">
                <shared-button [type]="'primary'" [size]="'medium'" [disabled]="registerForm.invalid">Sign up</shared-button>
                <a routerLink="/login">Sign in?</a>
            </div>
        </form>
    </div>
</div>
