.wrapper{
    height: 100%;
    width: 100%;
    background-color: var(--darkPrimary);
    .header{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        border-bottom: 1px solid var(--gray-700);
        span{
            font-size: 2rem;
            font-weight: bold;
            text-transform: uppercase;
            color: var(--white);
        }
    }
    .container{
        display: flex;
        ul{
            li{
                a{
                    color: var(--white);
                    display: block;
                    padding: 10px;
                    &:hover{
                        background-color: var(--darkPrimary);
                    }
                
                }
            }
        }
    }
}
