<div class="wrapper">
    <div class="header">
        <h1>Welcome to Admin Page</h1>
    </div>
    <div class="container__payload">
        <div class="payload__wrapper">
            <h2>Quyền truy cập</h2>
            <p>Quyền truy cập chỉ dành cho nhân viên được ủy quyền và đăng nhập.</p>
        </div>
        <div class="payload__wrapper">
            <h2>Chính sách</h2>
            <p>Chúng tôi cam kết bảo vệ thông tin cá nhân của bạn theo chính sách bảo mật của chúng tôi.</p>
        </div>
        <div class="payload__wrapper">
            <h2>Luật riêng tư bảo mật</h2>
            <p>Chúng tôi tôn trọng quyền riêng tư của bạn và cam kết bảo vệ thông tin của bạn.</p>
        </div>
        <div class="payload__wrapper">
            <h2>Luật riêng tư bảo mật</h2>
            <p>Chúng tôi tôn trọng quyền riêng tư của bạn và cam kết bảo vệ thông tin của bạn.</p>
        </div>
        <div class="payload__wrapper">
            <h2>Luật riêng tư bảo mật</h2>
            <p>Chúng tôi tôn trọng quyền riêng tư của bạn và cam kết bảo vệ thông tin của bạn.</p>
        </div>
        <div class="payload__wrapper">
            <h2>Luật riêng tư bảo mật</h2>
            <p>Chúng tôi tôn trọng quyền riêng tư của bạn và cam kết bảo vệ thông tin của bạn.</p>
        </div>
        <div class="payload__wrapper">
            <h2>Luật riêng tư bảo mật</h2>
            <p>Chúng tôi tôn trọng quyền riêng tư của bạn và cam kết bảo vệ thông tin của bạn.</p>
        </div>
        <div class="payload__wrapper">
            <h2>Luật riêng tư bảo mật</h2>
            <p>Chúng tôi tôn trọng quyền riêng tư của bạn và cam kết bảo vệ thông tin của bạn.</p>
        </div>
    </div>
</div>