<body class="wrapper">
    <div class="banner">
        <div class="banner__hard">
            <img src="./assets/images/banner.png" alt="banner">
        </div>
        <div class="banner__soft">
            <!-- <h1>This is banner recommend dishs</h1> -->
            <!-- recommend food banner -->
        </div>
    </div>
    <main class="main">
        <aside class="filter">
            <div class="header__title">Filter</div>
            <hr>
            <div class="filter__body">
                <div class="filter__search">
                    <div class="search__input">
                        <shared-text-box [type]="'text'" [size]="'medium'" [placeholder]="'search by name'" [(valueModel)]="query"></shared-text-box>
                    </div>
                    <shared-button [type]="'primary'" [size]="'medium'" (clicked)="callApiSearch()">Search</shared-button>
                </div>
                <div class="filter__display">
                    <div class="tag__input">
                        <shared-tag-input [(valueModel)]="tagValue" [(tagPayModel)]="tagPayload" ></shared-tag-input>
                    </div>
                    <div class="tags__container">
                        <div class="header__title">Ingredients filter</div>
                        <div class="tag__load">
                            <shared-tag-item *ngFor="let ingredient of ingredients" [tag]="ingredient.value" [color]="'gray'"></shared-tag-item>
                        </div>
                    </div>
                    <div class="tags__container">
                        <div class="header__title">Type filter</div>
                        <div class="tag__load">
                            <shared-tag-item *ngFor="let type of types" [tag]="type.value" [color]="'red'"></shared-tag-item>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <section class="listView">
            <div class="listView__header">
                <div class="header__title">Dishs</div>
                <div class="pageSelect">
                    <a href="javascript:void(0)" onClick="changePage('back')"
                        class="mr-2 text-blue-500 hover:text-blue-800">back</a>
                    <a href="javascript:void(0)" onClick="changePage('next')"
                        class="mr-2 text-blue-500 hover:text-blue-800">next</a>
                </div>
            </div>
            <hr>
            <ul>
                <shared-list-dish></shared-list-dish>
                <!-- <?php renderRecipce($dishs); ?> -->
            </ul>
        </section>
        <aside class="quickView">
            <div class="header__title">Quick view</div>
            <hr>
            <ul>
                <li class="mb-4">
                    <h3 id="dish-name" class="text-xl font-semibold"></h3>
                    <div class="flex">
                        <img id="dish-url"
                            src="assets/images/default/defaultDishPhoto.png"
                            alt="" class="w-32 h-32 object-cover rounded-lg">
                        <div class="ml-2">
                            <p class="text-gray-600">Ingredients: </p>
                            <ul id="dish-ingredients" class="list-disc ml-4"></ul>
                        </div>
                    </div>
                </li>
            </ul>
            <p id="dish-description" class="text-gray-600"></p>
            <p id="dish-types" class="text-gray-600"></p>
            <div id="dish-content" class="mt-4"></div>
        </aside>
    </main>
</body>
