.wrapper{
    background-color: var(--white);
}

.banner{
    .banner__hard{
        img{
            width: 100%;
            height: auto;
        }
    }
    .banner__soft{
        
    }
}

.main{
    padding: 0px var(--default-medium-zone);
    display: flex;
    flex-direction: row;
    margin-bottom: var(--default-medium-zone);
    .filter{
        margin-right: var(--default-medium-zone);
        flex: 1;
        padding: 0px var(--default-medium-zone);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
        .filter__body{
            margin: var(--default-small-zone) 0px;
            .filter__search{
                display: flex;
                align-items: center;
                .search__input{
                    flex: 1;
                    margin-right: var(--default-small-zone);
                }
            }
            .filter__display{
                .tag__input{
                    margin: var(--default-small-zone) 0px;
                }
            }
        }
    }
    .listView{
        margin-right: var(--default-medium-zone);
        flex: 1;
        padding: 0px var(--default-medium-zone);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
        .listView__header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .pageSelect{
                a + a {
                    margin-left: 8px;
                }
            }
        }
    }
    .quickView{
        flex: 1;
        padding: 0px var(--default-medium-zone);
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    }
}


.header__title {
    color: var(--black);
    font-size: var(--default-small-font-size);
    font-weight: var(--default-medium-font-weight);
    padding: var(--default-mini-zone);
}