<body class="wrapper">
    <div class="banner">
        <div class="banner__hard">
            <img src="./assets/images/banner.png" alt="banner">
        </div>
        <div class="banner__soft">
            <h1>This is banner recommend dishs</h1>
        </div>
    </div>
    <main class="main">
        <aside class="filter">
            <div class="header__title">Filter</div>
            <hr>
            <div class="filter__body">
                <div class="filter__search">
                    <div class="search__input">
                        <shared-text-box [type]="'text'" [size]="'medium'" [placeholder]="'search by name'" [(valueModel)]="query" (keydown.enter)="callApiSearch()"></shared-text-box>
                    </div>
                    <shared-button [type]="'primary'" [size]="'medium'" (clicked)="callApiSearch()">Search</shared-button>
                </div>
                <div class="filter__display">
                    <div class="tag__input">
                        <shared-tag-input 
                            [(tagPayModel)]="tagPayload" 
                            [types]="types"
                            [ingredients]="ingredients"
                            ></shared-tag-input>
                    </div>
                    <div class="tags__container">
                        <div class="header__title">Ingredients filter</div>
                        <div class="tag__load">
                            <shared-tag-item *ngFor="let ingredient of filterIngredients" [tag]="ingredient.value" [color]="'gray'"></shared-tag-item>
                        </div>
                    </div>
                    <div class="tags__container">
                        <div class="header__title">Type filter</div>
                        <div class="tag__load">
                            <shared-tag-item *ngFor="let type of filterTypes" [tag]="type.value" [color]="'red'"></shared-tag-item>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
        <section class="listView">
            <div class="listView__header">
                <div class="header__title">Dishs</div>
                <div class="pageSelect">
                    <a *ngIf="page>1" (click)="onClickChangePage('prev')">prev</a>
                    <a *ngIf="dishes.length!==0" (click)="onClickChangePage('next')">next</a>
                </div>
            </div>
            <hr>
            <ul>
                <shared-list-dish [listDish]="dishes"></shared-list-dish>
            </ul>
        </section>
        <aside class="quickView">
            <div class="header__title">Quick view</div>
            <hr>
            <ul *ngIf="selectedDish">
                <shared-dish-quick-view [dish]="selectedDish"></shared-dish-quick-view>
            </ul>
            <p id="dish-description"></p>
            <p id="dish-types"></p>
            <div id="dish-content"></div>
        </aside>
    </main>
</body>
