<div class="wrapper">
    <div class="header">
        {{dish.getName()}} Recipe
    </div>
    <hr>
    <div class="container">
        <div class="side__bar">
            <div class="dish__photo">
                <img src={{dish.getUrl()}}>
            </div>
            <div class="dish__name">
                {{dish.getName()}}
            </div>
            <div class="dish__sumary">
                {{dish.getSummary()}}
            </div>
            <div class="types">
                <shared-tag-item *ngFor="let type of dish.getTypes()" [tag]="type.getName()" [color]="'red'"></shared-tag-item>
            </div>
            <div class="ingredients">
                Ingredients:
                <ul>
                    <li *ngFor="let ingredient of dish.getIngredients()">{{ingredient.getName()}} : {{ingredient.getQuantity()}} {{ingredient.getUnit()}}</li>
                </ul>
            </div>
        </div>
        <div class="main__body">
            <div class="header">
                Step by step
            </div>
            <div class="recipe" [innerHTML]="dish.getRecipe()"></div>
            <div class="header">
                Rating this recipe
            </div>
            <div class="rating">
                Your rating before: {{dish.getIsRated()? dish.getRating() : 'none'}}
                <form [formGroup]="ratingForm" (ngSubmit)="onSubmit()">
                    <div class="rating__input">
                        Rating score:
                        <input
                            type="number"
                            placeholder="rating score"
                            id="ratingScore"
                            class="small"
                            formControlName="ratingScore"
                            step="0.1"
                        />
                    </div>
                    <div class="ratting__button">
                        <shared-button
                            [type]="'primary'"
                            [size]="'small'"
                            [disabled]="ratingForm.invalid">Send rating</shared-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>