<div class="wrapper">
    <div class="header">
        Cơm tấm sườn bì Recipe
    </div>
    <hr>
    <div class="container">
        <div class="side__bar">
            <div class="dish__photo">
                <img style="width: 150px;" src="https://i.ytimg.com/vi/AabvzQyml9E/maxresdefault.jpg">
            </div>
            <div class="dish__name">
                Cơm tấm sườn bì
            </div>
            <div class="dish__sumary">
                Món ăn phổ biến với cơm tấm, sườn và bì thơm ngon.
            </div>
        </div>
        <div class="main__body">
            Step by step
            <div class="recipe">
                *Sơ chế
                Bước 1: Làm sạch sườn, bì và các nguyên liệu khác.
                *Chế biến
                Bước 1: Nướng sườn và thái thành lát.
                Bước 2: Xào bì với gia vị.
                Bước 3: Làm cơm và dọn ra đĩa cùng với sườn và bì.
                Bước 4: Thêm nước mắm và thưởng thức.
            </div>
            Rating this recipe
            <div class="rating">
                Your rating before: Not yet
                <div class="rating__input">
                    Rating score:
                    <input/>
                </div>
                <div class="ratting__button">
                    <button>Send rating</button>
                </div>
            </div>
        </div>
    </div>
</div>