.wrapper {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    margin: var(--default-medium-zone);
    font-size: var(--default-mini-font-size);
    font-weight: var(--default-small-font-weight);
    background-color: var(--white);
    padding: var(--default-medium-zone);
}

.header{
    // padding: var(--default-medium-zone);
    font-size: var(--default-medium-font-size);
    font-weight: var(--default-large-font-weight);
}

.container {
    padding: var(--default-large-zone);
    display: flex;
    .side__bar{
        flex: 1;
        .dish__photo{
            img{
                width: 100%;
                border-radius: var(--default-medium-zone);
                object-fit: cover;
            }
        }
        .dish__name{
            font-size: var(--default-medium-font-size);
            font-weight: var(--default-large-font-weight);
        }
        .types{

        }
        .ingredients{
            ul{
                margin-left: var(--default-medium-zone);
            }
        }
    }
    .main__body{
        flex: 2;
        margin-left: var(--default-large-zone);
        .rating{
            padding: var(--default-medium-zone);
            .rating__input{
                width: 20%;
            }
            .ratting__button{
                margin: var(--default-medium-zone) 0px;
                width: 20%;
            }
        }
        .recipe{
            padding: var(--default-medium-zone);
        }
    }
}