* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-text);
    background-color: transparent;
    word-break: break-all;
    font-family: 'Times New Roman', Times, serif
}

a, button {
    cursor: pointer;
    text-decoration: none;
    outline: none;
    border: none;
}

:root {
    --primary: #006ce8;
    --darkPrimary: rgb(31 41 55);
    --primary-hover: #0f519c;
    --black: #000;
    --white: #fff;
    --red: rgb(220 38 38);
    --color-text: #333;
    --color-light-text: #9e9e9e;
    --color-disable: rgba(22, 24, 35, 0.5);
    --color-shadow: rgba(0, 0, 0, 0.15);
    --color-background: rgb(229 231 235);
    // Default layout
    --default-tiny-zone: 2px;
    --default-mini-zone: 5px;
    --default-small-zone: 8px;
    --default-medium-zone: 16px;
    --default-large-zone: 24px;
    --default-xlarge-zone: 32px;
    --default-xxlarge-zone: 48px;
    --default-tiny-font-size: 1rem;
    --default-mini-font-size: 1.2rem;
    --default-small-font-size: 1.4rem;
    --default-medium-font-size: 1.8rem;
    --default-large-font-size: 2.4rem;
    --default-xlarge-font-size: 3.6rem;
    --default-mini-font-weight: 200;
    --default-light-font-weight: 400;
    --default-medium-font-weight: 600;
    --default-large-font-weight: 800;
    --default-mini-icon-size: 1.8rem;
    --default-small-icon-size: 2.8rem;
    --default-medium-icon-size: 3.8rem;
    --default-large-icon-size: 4.8rem;
    --default-xlarge-icon-size: 5.8rem;
    // resize
}