input {
    width: 100%;
    border-radius: var(--default-mini-zone);
    border: solid 1px #ccc;
}
input:focus {
    outline: none;
}

.small {
    padding: var(--default-mini-zone) var(--default-small-zone);
    font-size: var(--default-mini-font-size);
    font-weight: var(--default-small-font-weight);
}

.medium {
    padding: var(--default-small-zone) var(--default-medium-zone);
    font-size: var(--default-small-font-size);
    font-weight: var(--default-small-font-weight);
}

.large {
    padding: var(--default-large-zone) var(--default-xlarge-zone);
    font-size: var(--default-large-font-size);
    font-weight: var(--default-large-font-weight);
}