.wrapper{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding: var(--default-large-zone);
    height: 100%;
    .header{
        padding: var(--default-medium-zone) 0;
        .title {
            font-size: var(--default-large-font-size); 
            font-weight: var(--default-medium-font-weight);
        }
        .error__message{
            font-size: var(--default-small-font-size);
            padding: 0 var(--default-small-zone);
            color: var(--red);
        }
    }
    .main__container {
        flex: 1;
        height: 70vh;
        overflow-y: auto;
        scrollbar-width: none;
    }
}

.grid__container{
    .form__section {
   
    }
    .main__form__section {
      
    }
}


.image__container {
    padding: var(--default-medium-zone);
    display: flex;
    justify-content: center;
    img {
        height: 16rem; 
        border-radius: 0.375rem;
    }
}

.filter__container {
    background-color: var(--white);
    padding: var(--default-medium-zone);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
    min-height: 18rem; 
    max-height: 20rem;
    display: flex;
    .filter__display {
        overflow-x: auto;
        scrollbar-width: none;
        .tag__input {
        }
        .tags__container {
            padding: var(--default-small-zone);
            .header__title {
                font-size: var(--default-small-font-size); 
                font-weight: var(--default-small-font-weight);
            }
            .tag__load {
                padding: var(--default-tiny-zone);
                .ingredient__item{
                    display: flex;
                    align-items: center;
                    input{
                        border-radius: 0.375rem; 
                        padding: var(--default-mini-zone) var(--default-small-zone); 
                        +input{
                            margin-left: var(--default-mini-zone);
                        }
                    }

                    .form__input {
                        border: 1px solid var(--color-border-light); 
                        width: 100%;
                        outline: none;
                        &:focus {
                            border-color: var(--color-primary); 
                        }
                    }
                    .disabled__input {
                        border: 1px solid var(--color-border-light);
                        cursor: not-allowed;
                    }
                    .amount__input {
                        width: 5rem; 
                        border: 1px solid var(--color-border-light); 
                    }
                    + .ingredient__item{
                        margin-top: var(--default-mini-zone);
                    }
                }
            }
        }
    }
}


.form__group{
    textarea{
        min-height: 8rem;
    }
    .form__label {
        display: block;
        font-weight: var(--default-medium-font-weight); 
        margin-bottom: var(--default-small-zone);
    }
    .form__input {
        border: 1px solid var(--color-border-light); 
        border-radius: 0.375rem; 
        padding: var(--default-mini-zone) var(--default-small-zone); 
        width: 100%;
        outline: none;
        &:focus {
            border-color: var(--color-primary); 
        }
    }
    .submit__button {
        width: 12rem;
    }
    
    +.form__group{
        margin-top: var(--default-small-zone);
    }
}
  